[submodule ".vim/bundle/dash.vim"]
	path = .vim/bundle/dash.vim
	url = https://github.com/rizzatti/dash.vim.git
[submodule "zsh_custom/zsh-prompt-garrett"]
	path = zsh_custom/zsh-prompt-garrett
	url = https://github.com/chauncey-garrett/zsh-prompt-garrett.git
[submodule ".tmux/plugins/tmux-sensible"]
	path = .tmux/plugins/tmux-sensible
	url = https://github.com/tmux-plugins/tmux-sensible.git
[submodule ".tmux/plugins/tmux-sessionist"]
	path = .tmux/plugins/tmux-sessionist
	url = https://github.com/tmux-plugins/tmux-sessionist.git
[submodule "zsh_custom/zsh-completions"]
	path = zsh_custom/zsh-completions
	url = https://github.com/zsh-users/zsh-completions.git
[submodule "zsh_custom/fasd"]
	path = zsh_custom/fasd
	url = https://github.com/clvv/fasd.git
[submodule ".tmux/plugins/tmux-pain-control"]
	path = .tmux/plugins/tmux-pain-control
	url = https://github.com/tmux-plugins/tmux-pain-control.git
[submodule "zsh_custom/tmuxinator"]
	path = zsh_custom/tmuxinator
	url = https://github.com/tmuxinator/tmuxinator.git
