progress=false
init.author.email=desmith@gmail.com
init.author.name=Dave E Smith
@bit:registry=https://node.bit.dev
//node.bitsrc.io/:_authToken=cb46676a-89c2-45ab-b8c5-f10b3d69211b
//node.bit.dev/:_authToken=cb46676a-89c2-45ab-b8c5-f10b3d69211b
registry=http://registry.npmjs.org/
